*{
  -webkit-overflow-scrolling: touch;
}

p{
  text-indent: 0 !important;
}
.home{
  height: 100%;
}

.home .map{

  width:100%;
  height: 0.4rem;
  line-height: 0.4rem;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
  background: #fff;
  /* top: 0; */
  /* position: fixed; */
  z-index: 99;
  border-bottom: 1px solid #ececec;
}

.home .map .icon-logo {
  width: 0.88rem;
  height: 0.24rem;
  background: url("../../assets/icon_top_logo.png");
  background-size: contain;
  margin-top: 0.08rem;
  background-repeat: no-repeat;
}

.home .map .choose_city{
  font-size: 0.14rem;
  color: #666666;
  letter-spacing: 0;
}

.home .map .choose_city i{
  font-size: 0.14rem;
  color: #999999;
  margin-left: 0.05rem;
}

.home .map .choose_house{
  letter-spacing: 0;
  display: none;
}

.home .map .choose_house .icon_map{
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  margin-right: 0.05rem;
  background-image: url("../../assets/home/icon_position-icon.png");
  background-size: contain;
}

.home .map .choose_house .map_choose{
  font-size: 0.14rem;
  color: #666666;
  letter-spacing: 0;
}

.home .content{
  width:100%;
  margin-top: 0.15rem;
  text-align: center;
  display: flex;
  margin-left: 0.14rem;
  /* margin-top: 0.4rem; */
}

.home .activity {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0.15rem;
}

.home .activity .activity_item {
  width: 0.8rem;
  height: 0.47rem;
  text-align: center;
  position: relative;
}

.home .activity .activity_item .activity_name{
  font-size: 0.12rem;
  color: #191919;
  line-height: 0.12rem;
  position: absolute;
  top: 0.35rem;
  left: 0.16rem;
}

.home .activity .activity_item .icon_location_map {
  display: inline-block;
  width: 0.18rem;
  height: 0.24rem;
  background-image: url("../../assets/home/icon-location.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.home .activity .activity_item .icon_new_open{
  display: inline-block;
  width: 0.22rem;
  height: 0.24rem;
  background-image: url("../../assets/home/icon-new.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.home .activity .activity_item .icon_green_town{
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  background-image: url("../../assets/home/icon-green.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.home .activity .activity_item .icon_visit_house{
  display: inline-block;
  width: 0.21rem;
  height: 0.24rem;
  background-image: url("../../assets/home/icon-visit.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.home .seperate_line {
  height: 1px; 
  background: #ECECEC;
  margin: 0 0.2rem;
}


.home .service {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0.4rem;
}

.home .service .service_item {
  width: 0.6rem;
  /* height: 80px; */
  /* background: #ff0000; */
  text-align: center;
}

.home .service .service_item .official{
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  background-image: url("../../assets/home/img_offical-sell.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0.08rem;
}

.home .service .service_item .online{
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  background-image: url("../../assets/home/img_net-buy.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0.08rem;
}

.home .service .service_item .professional{
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  background-image: url("../../assets/home/img_choose-house.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0.08rem;
}

.home .service .service_item .text{
  font-size: 0.12rem;
  color: #191919;
  letter-spacing: 0;
}



.home .building_panel {
  /* margin-top: 0.2rem  */
}

.home .building_panel .title_group {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0.2rem 0 0.2rem;
}

.home .building_panel .title_group .title{
  font-size: 0.2rem;
  color: #191919;
}

.home .building_panel .title_group .more{
  color:#949494;
  margin-top: 0.05rem;
}

.home .building_panel .title_group .more .more_house {
  font-size: 0.14rem;
  color: #92969C;
}

.home .building_panel .title_group .more img{
  margin-top: -4px !important;
}


.home .building_panel .building_group {
  margin: 0 0.2rem;
  /* display: flex; */
  /* width: 100%; */
  /* overflow: scroll; */
  overflow-x: auto;
  white-space: nowrap;
}

.home .building_panel .building_group .building_item {
  display: inline-block;
  width: 3.2rem;
  background: #FFFFFF;
  box-shadow: 0 0px 6px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  margin: 0.16rem 0.05rem;
  border: 1px solid #ECECEC;
}

.home .building_panel .building_group .building_item:first-child {
  margin-left: 0;
}

.home .building_panel .building_group .building_item:last-child {
  margin-right: 0.06rem;
}

.home .building_panel .building_group .building_item .building_picture{
  position: relative;
  overflow: hidden;
}

.home .building_panel .building_group .building_item .building_picture .price_bg{
  position: absolute;
  z-index: 2;
  margin-top: -0.38rem;
  width: 1.12rem;
  height: 0.22rem;
  line-height: 0.22rem;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0.12rem;
  color: #fff;
}

.home .building_panel .building_group .building_item .building_picture .unitprice {
  font-size: 0.12rem;
  color: #fff;
  margin-left: 0.1rem;
}

.home .building_panel .building_group .building_item .building_picture .price {
  font-size: 0.18rem;
  color: #fff;
}

.home .building_panel .building_group .building_item .building_picture img {
  width: 3.2rem;
  height: 1.6rem; 
}

.home .building_panel .building_group .building_item .building_name{
  position: relative;
}

.home .building_panel .building_group .building_item .building_name .name{
  display: inline-block;
  font-size: 0.14rem;
  margin: 0.16rem 0 0.16rem 0.1rem;
  color: #191919;
}

.home .building_panel .building_group .building_item .building_name .icon_collect{
  display: inline-block;
  background: url(../../assets/icon-default.png) no-repeat;
  width: 0.4rem;
  height: 0.4rem;
  background-size: 0.16rem 0.14rem;
  background-position: center center;
  position: absolute;
  right: 0;
}

.home .building_panel .building_group .building_item .building_name .active{
  background: url(../../assets/icon-conern-active.png) no-repeat;
  background-size: 0.16rem 0.14rem;
  background-position: center center;
}

.home .building_panel .building_group .building_item .address {
  display: inline-block;
  font-size: 0.12rem;
  margin: 0 0 0.1rem 0.1rem;
  color: #ABABAB;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width: 3.0rem;
}

.home .building_panel .building_group .building_item .building_name .name{
  display: inline-block;
  font-size: 0.14rem;
  margin: 0.1rem 0 0.1rem 0.1rem;
  color: #191919;
}

.home .building_panel .building_group .building_item .build-tag{
  margin: 0 0 0.2rem 0.1rem;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width: 3.0rem;
  height: 0.16rem;
  line-height: 0.16rem;
}

.home .building_panel .building_group .building_item .build-tag label{
  font-size: 0.1rem;
  padding: 0 0.05rem;
  margin-right: 0.1rem;
  margin-bottom: 0;
  font-weight: normal;
  /* border: 1px solid #00B573; */
  color: #00B573;
  height: 0.16rem;
  line-height: 0.16rem;
  /* font-weight: 700; */
  background: rgba(0,181,115,0.08);
}
.home .building_panel .building_group .building_item .build-tag label.highlight{
  color: #00BDE3;
}

.home .life {
  margin: 0.2rem;
}

.home .life .title {
  font-size: 0.2rem;
  color: #191919;
  line-height: 0.2rem;
}

.home .life .title title-text{
  margin-left: 0.1rem;
}

.home .life .detail {
  font-size: 0.11rem;
  color: #ABABAB;
  line-height: 0.18rem;
  margin-top: 0.1rem;
  /* margin-bottom: 0.16rem; */
}

.home .life .pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home .life .pictures .child {
  display: inline-block;
  width: 1.63rem;
  height: 1.1rem;
  background-image: url("../../assets/home/img_childhood.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.16rem 0.05rem 0 0;
  border-radius: 5px;
}


.home .life .pictures .young {
  display: inline-block;
  width: 1.63rem;
  height: 1.1rem;
  background-image: url("../../assets/home/img_youth.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.16rem 0  0 0.04rem;
  border-radius: 5px;
}

.home .life .pictures .old {
  display: inline-block;
  width: 1.63rem;
  height: 1.1rem;
  background-image: url("../../assets/home/img_elder.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.1rem 0.05rem  0 0;
  border-radius: 5px;
}

.home .life .pictures .neighbor {
  display: inline-block;
  width: 1.63rem;
  height: 1.1rem;
  background-image: url("../../assets/home/img_neighbourhood.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.1rem 0  0 0.04rem;
  border-radius: 5px;
} 

::-webkit-scrollbar {/*隐藏滚轮*/
  display: none;
}

.home .haopan{
  margin-left: 0.075rem;
  margin-top:0.14rem;
}
.home .haopan .haopan_div{
  width: 1.665rem;
  margin-left: 0.065rem;
  display: inline-block;
  margin-top: 0.1rem;
}
.home .haopan .haopan_div img{
  width: 100%;
  height: 0.937rem;
}
.home .haopan .haopan_div .pan1{
  font-family: PingFangSC-Medium;
font-size: 0.12rem;
color: #333333;
line-height: 0.19rem;
margin-top: 0.1rem;
}
.home .haopan .haopan_div .pan2{
  font-family: PingFangSC-Regular;
font-size: 0.09rem;
color: #5D5D5D;
line-height: 0.16rem;
}
