.calculator{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
}
.mint-header{
    /* border-bottom: 1px solid #EAEBED; */
    color: #000;
    background-color: #fff;
}
h1 {
    margin: .67em 0;
}
label{
    font-weight: 100;
    font-size: .12rem;
}
.mintui{
    font-size: .14rem;
}
.mint-navbar {
    border-bottom: 1px solid #EAEBED;
}
.mint-navbar a.mint-tab-item {
    color: #989CA8;
}
.mint-tab-item-label {
    font-size: .14rem;
}

.mint-navbar .mint-tab-item.is-selected {
    border-bottom: none;
    color: #333333;
	text-decoration: none;
	position: relative;
}

a.mint-tab-item.is-selected:before {
    content: '';
    width: .4rem;
    height: 2px;
    background: #25B07E;
    display: block;
    bottom: 2px;
    position: absolute;
    left: 50%;
    margin-left: -0.2rem;
}